



<% working_time = @timer_session.preset.working_day %>
<% breaks_time = @timer_session.breaks.count.to_i * @timer_session.breaks.first.length.to_i%>
<% focus_time = @timer_session.preset.focus_timer.to_i * @timer_session.breaks.count.to_i %>
<%remaining_time = working_time - focus_time - breaks_time %>

<%= "Time allocated for today = " %>
<%= working_time %>
<%= "seconds" %>
<br>
<%= "Time spent on breaks = " %>
<%if @timer_session.breaks.first != nil %>
  <%= breaks_time%>
<% else %>
  <%= "0" %>
<% end %>
<%= "seconds" %>
<br>
<%= "Time spent focusing = " %>
<% if @timer_session.breaks.count != 0 %>
  <%= focus_time%>
<% else %>
  <%= "0" %>
<% end %>
<%= "seconds" %>
<br>
<%= "Time remaning = " %>
<%= remaining_time %>
<%= "seconds" %>
<br>
<h4>Activities completed during breaks</h4>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>

<div class="stats">
  <%= column_chart(@stats, ytitle: "Time (minutes)", xtitle: "Activity")  %>
</div>



