

<h1>Enjoy your break!</h1>
<%= link_to "Start", break_path(@break), method: :patch, remote: true  %>
<br>
<%= link_to "Exit", presets_path  %>

<%= @break.duration %>
<%= javascript_pack_tag 'easytimer' %>
<br>
<div id="timer"  data-sessionid="<%= @break.timer_session.id %>" data-break="<%= @break.id %>" data-breaklimit="<%= @break.length %>"<%= @break.id %>
</div>
<%= javascript_pack_tag 'easytimer' %>
<%= @break.length %>

<h1>Enjoy your break!</h1>

<h1>Chose some music recomended for your break activity</h1>


<iframe src="https://open.spotify.com/embed?uri=<%= @cancion %>" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

