
<% content_for :meta_title, "#{@user.email} Dashboard" %>
<% content_for :meta_description, "#{@user.email} Dashboard" %>
<% title "Dashboard" %>

  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="title-box">
          <h1 class="pshadow">Hi <%= @user.first_name %>
            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          </h1>

          <h2 class="pshadow">Your Dashboard  </h2>

        </div>
      </div>
    </div>


  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="obcarousel">
      <%= render "sliderdash" %>
    </div>
  </div>


    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="action-buttons-box">
        <%= link_to "Get started", presets_path, :class=> "btn obbtn resume" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="action-buttons-box">
        <%= link_to "How to", info_path, :class=> "btn obbtn rexit" %>
      </div>
    </div>
  </div>
</div>

