<head>

</head>
<div class="container text-center">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="title-box">
        <h1>One Breath</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="sub-title-box">
          <h2>The UI Collection</h2>
        </div>
      </div>
    </div>

  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="obcarousel">
      <h2> The slider</h2>
      <%= render "slider" %>
    </div>
  </div>




    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
      <div class="middle-content">
        <h1>H1 Tag</h1>
        <h2>H2 Tag</h2>
        <p class="text-justify">
        Body Text
        Meditation is a age old technique from the sages of the Himalayas. These days people are stressed, I’m sure you are too, and you are looking for a way out. Using one breath is going to solve all your problems, even help you stop smoking crack on the weekends.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="action-buttons-box">
        resume Class Button <br>
        <%= link_to "I'm new", "#", :class=> "btn obbtn resume" %>
         <div class="action-buttons-box">
        rexit Class Button <br>
        <%= link_to "Sign In", "#", :class=> "btn obbtn rexit" %>
        </div>
         <div class="action-buttons-box">
        sign-in Class Button <br>
        <%= link_to "Sign In", "#", :class=> "btn obbtn sign-in" %>
        </div>
         <div class="action-buttons-box">
        sign-in-fb Class Button <br>
        <%= link_to "Sign In Fb", "#", :class=> "btn obbtn sign-in-fb" %>
        </div>
         <div class="action-buttons-box">
        flow-selected Class Button <br>
        <%= link_to "selected", "#", :class=> "btn obbtn flow-selected" %>
        </div>
        <div class="action-buttons-box">
        flow-unselected Class Button <br>
        <%= link_to "unselected", "#", :class=> "btn obbtn flow-unselected" %>
        <br>
        <%= link_to "link a class", presets_path %>
        </div>
  </div>
 </div>
  </div>
</div>
