 <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
	<div class="middle-content">
  	<%= simple_form_for [@preset], defaults: { input_html: { class: 'form-control' } } do |f| %>
    <div id=name><%= f.input :name, label:"Name your Flow",placeholder: 'Deep Work'%></div>
		<div id=working_day><%= f.input :working_day, label: "Total hours" %></div>
		<div id=focus_timer><%= f.input :focus_timer, label: "Minutes per session" %></div>
		<div id=break_duration><%= f.input :break_duration, label: "Minutes per break" %></div>
  </div>
<!--
      <div class="action-buttons-box">
        <%= f.submit "Start Timer", :class=> "btn obbtn sign-in" %>
      </div> -->
      <div class="action-buttons-box">
        <%= f.submit "Create flow", :class=> "btn obbtn resume" %>
      </div>
    </div>
    <% end %>
  </div>
