<p>Your break activities</p>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
    <ul class="list-group" style="padding:0; margin-bottom:50px;">
      <% @preset.activities.each do |activity| %>
      <li class="list-group-item list-group-item-primary breakies" data-activity-id="<%= activity.id %>">
        <div class="activity-item">
          <%= activity.name %>
          <%= link_to activity,
          method: :delete, remote: true do %>
          <i class="fa fa-trash whiteicon"></i>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="row">
    <div class="action-buttons-box">
      <%= simple_form_for [@preset, @activity] , defaults: { input_html: { class: 'form-control' } } do |f| %>
      <%= f.input :name, label: "Add new activity", placeholder: 'Yoga' %>
      <%= f.submit "Add Activity", class: "btn obbtn sign-in-fb" %>
      <% end %>
    </div>
  </div>

  <div class="action-buttons-box">
    <%= link_to "Save Breaks", presets_path, class: "btn obbtn resume" %>
  </div>
