

<h1>Add yours</h1>

<%= simple_form_for [@preset, @activity] , defaults: { input_html: { class: 'form-control form-inline' } } do |f| %>
  <%= f.input :name %>
  <%= f.submit "add another activity" %>
<% end %>

<%= simple_form_for @preset do |f| %>
  <% @activities.each do |activity| %>
  <div class ="activity">
    <%= f.input activity.name, :as => :boolean, input_html: {checked: false} %>
  </div>
  <% end %>
  <%= f.submit "done" %>
<% end %>
