<h1>Add yours</h1>

<%= simple_form_for [@preset, @activity] , defaults: { input_html: { class: 'form-control form-inline' } } do |f| %>
  <%= f.input :name %>
  <%= f.submit "add another activity" %>
<% end %>

<ul>
<% @preset.activities.each do |activity| %>
  <li data-activity-id="<%= activity.id %>"><%= activity.name %> - <%= link_to "delete", activity,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
</ul>


<%= link_to "I'm done", presets_path %>
