<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
    <ul class="list-group" style="padding:0; margin-bottom:50px;">
      <% @preset.activities.each do |activity| %>
      <li class="list-group-item list-group-item-primary breakies" data-activity-id="<%= activity.id %>">
        <div class="activity-item-rework">
          <p><i class="fas fa-check" style="color: white;"></i> <%= activity.name %></p>
          <%= link_to activity,
          method: :delete, remote: true do %>
            <i class="fa fa-trash whiteicon"></i>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
         <div class="action-buttons-box">
      <%= simple_form_for [@preset, @activity] , defaults: { input_html: { class: 'form-control' } } do |f| %>
      <%= f.input :name, label: "Create a new activity", placeholder: 'Yoga' %>
      <%= f.submit "Add", class: "btn obbtn submit-activities" %>
      <% end %>
    </div>
  </div>


      </div>


  <div class="action-buttons-box">
    <%= link_to "Save activities", presets_path, class: "btn obbtn resume" %>
  </div>
